<!DOCTYPE html>
<html>

	<head>
		<title>CSESoc Murder</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/bootstrap.min.css' />
	</head>

	<body ng-app="murder">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
    			<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">CSESoc Murder</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a>Login</a></li>
						<li><a>Register</a></li>
					</ul>

			</div>
		</nav>



		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Bootstrap's js -->
		<script src="/js/bootstrap.min.js"></script>

	</body>
</html>
