<!DOCTYPE html>
<html>

	<head>
		<title>CSESoc Murder</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/bootstrap.min.css' />
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/js/murder.js"></script>
	</head>

	<body ng-app="murder">
		<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
			<div class="container-fluid">
    			<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/">CSESoc Murder</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="isAdmin()"><a href="#/admin">Admin</a></li>
						<li ng-show="isLoggedIn()"><a href="#/me">{{ currentUser() }}</a></li>
						<li ng-show="isLoggedIn()"><a href="#/" ng-click="logout()">Log Out</a></li>
						<li ng-hide="isLoggedIn()"><a href="#/login">Login</a></li>
						<li ng-hide="isLoggedIn()"><a href="#/register">Register</a></li>
					</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<ui-view></ui-view>
			</div>
		</div>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Bootstrap's js -->
		<script src="/js/bootstrap.min.js"></script>

		<script type="text/ng-template" id="/home.html">
			<h3>Welcome</h3>
			Something something description of murder
		</script>

		<script type="text/ng-template" id="/register.html">
			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="register()">
				<h3>Register</h3>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" placeholder="John Smith" ng-model="user.name">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" placeholder="JohnSmith" ng-model="user.username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>
				<button type="submit" class="btn btn-default">Register</button>
			</form>
		</script>

		<script type="text/ng-template" id="/login.html">

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="login()">
				<h3>Log In</h3>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" placeholder="xXx_DaNk_GuY_420_69_xXx" ng-model="user.username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>
				<button type="submit" class="btn btn-default">Log In</button>
			</form>

		</script>
		
		<script type="text/ng-template" id="/me.html">
			<h3>Hello, {{ user.name }}</h3>
			<p><strong>Username:</strong> {{ user.username }}</p>
			<p><strong>Target:</strong> {{ user.target ? user.target.name : "Nobody... yet..." }}</p>
			<p><strong>Codeword:</strong> &quot;{{ user.codeword }}&quot; (give this to the person who kills you)</p>
			<p>{{ user.alive ? "You are still alive" : "You are dead. rip." }}</p>
			<div ng-show="error" class="alert alert-danger row">
				<span>{{ message }}</span>
			</div>
			<div ng-show="success" class="alert alert-success row">
				<span>{{ message }}</span>
			</div>
			<form class="form-inline" ng-submit="kill()">
				<div class="form-group">
					<label for="kill">Killed someone? Put their codeword here: </label>
					<input type="text" class="form-control" placeholder="e.g. wobbegong" ng-model="code.codeword">
				</div>
				<button type="submit" class="btn btn-default">Kill</button>
			</form>			


		</script>

		<script type="text/ng-template" id="/admin.html">
			<h3>Admin</h3>
			<p>This is the admin page</p>
		</script>

	</body>
</html>
