<!DOCTYPE html>
<html>

	<head>
		<title>CSESoc Murder</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/bootstrap.min.css' />
	</head>

	<body>
		<div id="app"></div>
		<script src="/bundle.js"></script>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Bootstrap's js -->
		<script src="/js/bootstrap.min.js"></script>

		<!--<script type="text/ng-template" id="/home.html">
			<h3>Welcome</h3>
			<p>The following players are still alive</p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in alive_users | orderBy: 'name'">
						<td>{{user.name}}</td>
					</tr>
				</tbody>
			</table>
				
		</script>

		<script type="text/ng-template" id="/register.html">
			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="register()">
				<h3>Register</h3>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" placeholder="John Smith" ng-model="user.name">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" placeholder="JohnSmith" ng-model="user.username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>
				<button type="submit" class="btn btn-default">Register</button>
			</form>
		</script>

		<script type="text/ng-template" id="/login.html">

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="login()">
				<h3>Log In</h3>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" placeholder="xXx_DaNk_GuY_420_69_xXx" ng-model="user.username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>
				<button type="submit" class="btn btn-default">Log In</button>
			</form>

		</script>
		
		<script type="text/ng-template" id="/me.html">
			<h3>Hello, {{ user.name }}</h3>
			<p><strong>Username:</strong> {{ user.username }}</p>
			<p><strong>Target:</strong> {{ user.target ? user.target.name : "Nobody... yet..." }}</p>
			<p><strong>Codeword:</strong> &quot;{{ user.codeword }}&quot; (give this to the person who kills you)</p>
			<p>{{ user.alive ? "You are still alive" : "You are dead. rip." }}</p>
			<div ng-show="error" class="alert alert-danger row">
				<span>{{ message }}</span>
			</div>
			<div ng-show="success" class="alert alert-success row">
				<span>{{ message }}</span>
			</div>
			<form class="form-inline" ng-submit="kill()">
				<div class="form-group">
					<label for="kill">Killed someone? Put their codeword here: </label>
					<input type="text" class="form-control" placeholder="e.g. wobbegong" ng-model="code.codeword">
				</div>
				<button type="submit" class="btn btn-default">Kill</button>
			</form>			


		</script>

		<script type="text/ng-template" id="/admin.html">
			<h3>Admin</h3>
			<div class="alert alert-danger row" ng-show="error">{{ message }}</div>
			<div class="alert alert-success row" ng-show="success">{{ message }}</div>
			<div class="form-group">
				<button ng-click="assign()" class="btn btn-default btn-primary">Assign codewords</button>
			</div>
			<div class="form-group">
				<button ng-click="start()" class="btn btn-default btn-danger">Start new game</button>
			</div>
		</script>-->
	</body>
</html>
