<!DOCTYPE html>
<html>

	<head>
		<title>CSESoc Murder</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/bootstrap.min.css' />
	</head>

	<body>
		<div id="app" class="container"></div>
		<script src="/bundle.js"></script>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Bootstrap's js -->
		<script src="/js/bootstrap.min.js"></script>

		<!--
		

		<script type="text/ng-template" id="/admin.html">
			<h3>Admin</h3>
			<div class="alert alert-danger row" ng-show="error">{{ message }}</div>
			<div class="alert alert-success row" ng-show="success">{{ message }}</div>
			<div class="form-group">
				<button ng-click="assign()" class="btn btn-default btn-primary">Assign codewords</button>
			</div>
			<div class="form-group">
				<button ng-click="start()" class="btn btn-default btn-danger">Start new game</button>
			</div>
		</script>-->
	</body>
</html>
